<% if @categories.any?() %>
<h2>Here are your categories</h2>

  <ul>
    <% @categories.each do |category| %>
      <li><a href="/categories/<%= category.id() %>"><%= category.name() %></a></li>
    <% end %>
  </ul>

  <% else %>
  <h2>There are no categories</h2>
  <% end %>

  <form action="/categories/new" method="post"

    <label for="name">Category name:</label>
    <input id="name" name="name" type="text">

    <button type="submit">Add category</button>
  </form>
  <br>

  <form action="/categories/update" method="post">
    <input type="hidden" name="_method" value="patch">
    <label for="category_select">Select a category to update:  </label>
    <br>
    <select id="category_select" name="category_select">
      <% @categories.each() do |category| %>
        <option value="<%= category.id %>"><%= category.name() %></option>
      <% end %>
    </select>
    <br>
    <label for="name">category name:  </label>
    <input id="name" name="name" type="text" value="">
    <br>
    <button type="submit">Update category name</button>
  </form>

  <br>

  <form action="/categories/delete" method="post">
    <input type="hidden" name="_method" value="delete">
    <label for="category_select">Select a category to delete:  </label>
    <br>
    <select id="category_select" name="category_select">
      <% @categories.each() do |category| %>
        <option value="<%= category.id %>"><%= category.name() %></option>
      <% end %>
    </select>
    <br>
    <button type="submit">Delete category</button>
  </form>

  <br>

  <a href="/">Home</a>
