<h2>List of all ingredients</h2>
<hr>
<br>

<% if @ingredients.any?() %>

  <ul>
    <% @ingredients.each() do |ingredient| %>

      <li><a href="/ingredients/<%= ingredient.id() %>"><%= ingredient.name() %></a></li>

    <% end %>

  </ul>

<% else %>

  <p>There are no ingredients in the database</p>

<% end %>

<p>To add an ingredient to a recipe visit the specific <a href="/recipes">recipe</a> page</p>

<!-- <form action="/ingredients/new" method="post">

  <label for="name">Ingredient name:  </label>
  <input id="name" name="name" type="text">
  <br>
  <label for="amount">Amount of Ingredient:  </label>
  <input id="amount" name="amount" type="text">
  <br>
  <label for="unit_measure">What is the unit of measure?  </label>
  <input id="unit_measure" name="unit_measure" type="text">
  <br>
  <button type="submit">Add Ingredient</button>
</form> -->

<br>

<form action="/ingredients/update" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="ingredient_select">Select an ingredient to update:  </label>
  <br>
  <select id="ingredient_select" name="ingredient_select">
    <% @ingredients.each() do |ingredient| %>
      <option value="<%= ingredient.id %>"><%= ingredient.name() %></option>
    <% end %>
  </select>
  <br>
  <label for="name">Ingredient name:  </label>
  <input id="name" name="name" type="text" value="">
  <br>
  <label for="amount">Ingredient amount:  </label>
  <input id="amount" name="amount" type="text" value="">
  <br>
  <label for="unit_measure">Ingredient unit measure:  </label>
  <input id="unit_measure" name="unit_measure" type="text" value="">
  <br>
  <button type="submit">Update ingredient</button>
</form>
<br>

<form action="/ingredients/delete" method="post">
  <input type="hidden" name="_method" value="delete">
  <label for="ingredient_select">Select a ingredient to delete:  </label>
  <br>
  <select id="ingredient_select" name="ingredient_select">
    <% @ingredients.each() do |ingredient| %>
      <option value="<%= ingredient.id %>"><%= ingredient.name() %></option>
    <% end %>
  </select>
  <br>
  <button type="submit">Delete ingredient</button>
</form>


<br>
<a href="/">Home</a>
