<h2><%= @recipe.name() %> Information</h2>
<hr>
<br>

<p><strong>Instructions:</strong>
<br>
  <% if @recipe.instructions() == nil %>

    No instructions were found.</p>

  <% else %>

    <%= @recipe.instructions() %></p>

  <% end %>

<br>

<p><strong>Rating:</strong>
<br>
 <% if @recipe.rating() == nil %>

   No rating was found.</p>

<% else %>

   <%= @recipe.rating() %></p>

<% end %>

<br>

<% if @recipe.ingredients().any?() %>
  <p><strong>Here is a list of the required ingredients for <%= @recipe.name %></strong></p>
    <ul>
      <% @recipe.ingredients().each() do |ingredient| %>
        <li><a href="<%= ingredient.id() %>"><%= ingredient.name() %></a></li>
      <% end %>
    </ul>
    <% else %>
    <p>You have not added ingredients for <%= @recipe.name %></p>
<% end %>

<br>

<p><a href="/recipes">Back to Recipes</a></p>
