
<% if @recipes.any?() %>
  <h2>Here are all your recipes:  [<a href="/recipes/sorted_by_rating">sort by rating</a>]</h2>

  <ul>
    <% @recipes.each do |recipe| %>
      <li><a href="/recipes/<%= recipe.id() %>"><%= recipe.name() %></a></li>
    <% end %>
  </ul>

  <% else %>
  <h2>There are no recipes</h2>
  <% end %>

  <form action="/recipes/new" method="post">

    <label for="name">Recipe name:</label>
    <input id="name" name="name" type="text">
    <br>
    <label for="instructions">Instructions:</label>
    <input id="instructions" name="instructions" type="text">
    <br>
    <label for="rating">Rating(maximum rating of 10):</label>
    <input id="rating" name="rating" type="text">
    <br>
    <button type="submit">Add Recipe</button>
  </form>

<br>

  <form action="/recipes/update" method="post">
    <input type="hidden" name="_method" value="patch">
    <label for="recipe_select">Select a recipe to update:  </label>
    <br>
    <select id="recipe_select" name="recipe_select">
      <% @recipes.each() do |recipe| %>
        <option value="<%= recipe.id %>"><%= recipe.name() %></option>
      <% end %>
    </select>
    <br>
    <label for="name_update">Recipe name:  </label>
    <input id="name_update" name="name_update" type="text" value="">
    <br>
    <label for="instructions_update">Instructions:  </label>
    <input id="instructions_update" name="instructions_update" type="text" value="">
    <br>
    <label for="rating_update">Rating:  </label>
    <input id="rating_update" name="rating_update" type="text" value="">
    <button type="submit">Update recipe</button>
  </form>

<br>

  <form action="/recipes/delete" method="post">
    <input type="hidden" name="_method" value="delete">
    <label for="recipe_delete_select">Select a recipe to delete:  </label>
    <br>
    <select id="recipe_delete_select" name="recipe_delete_select">
      <% @recipes.each() do |recipe| %>
        <option value="<%= recipe.id %>"><%= recipe.name() %></option>
      <% end %>
    </select>
    <br>
    <button type="submit">Delete recipe</button>
  </form>

  <a href="/">Home</a>
