<h2><%= @recipe.name() %> Information</h2>
<hr>
<br>

<p><strong>Instructions:</strong>
<br>
  <% if @recipe.instructions() == nil %>

    No instructions were found.</p>

  <% else %>

    <%= @recipe.instructions() %></p>

  <% end %>

<br>

<p><strong>Rating:</strong>
<br>
 <% if @recipe.rating() == nil %>

   No rating was found.</p>

<% else %>

   <%= @recipe.rating() %></p>

<% end %>

<br>

<% if @recipe.ingredients().any?() %>
  <p><strong>Here is a list of the required ingredients for <%= @recipe.name %></strong></p>
    <ul>
      <% @recipe.ingredients().each() do |ingredient| %>
        <li><a href="/ingredients/<%= ingredient.id() %>"><%= ingredient.name() %></a></li>
      <% end %>
    </ul>
    <% else %>
    <p>You have not added ingredients for <%= @recipe.name %></p>
<% end %>

<br>
<h2>Add ingredient to <%= @recipe.name %></h2>
<form action="/recipes/<%= @recipe.id %>/add_ingredient_to_recipe" method="post"> <!--this @recipe is because the get in app.rb references @recipe-->

  <label for="name">Ingredient name:  </label>
  <input id="name" name="name" type="text">
  <br>
  <label for="amount">Amount of Ingredient:  </label>
  <input id="amount" name="amount" type="text">
  <br>
  <label for="unit_measure">What is the unit of measure?  </label>
  <input id="unit_measure" name="unit_measure" type="text">
  <br>
  <button type="submit">Add Ingredient</button>
</form>

<p><a href="/recipes">Back to Recipes</a></p>
